@font-face {
  font-family: "Ideagen";
  src: url("https://theme.zdassets.com/theme_assets/9314887/a0305f2cebc95b718fd9f6b7e1c26f9822508015.woff");
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://patheticaesthetic94.github.io/customer-portal/luminate/fonts/gilroy-regular.woff");
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://patheticaesthetic94.github.io/customer-portal/luminate/fonts/gilroy-medium.woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://patheticaesthetic94.github.io/customer-portal/luminate/fonts/gilroy-medium.woff");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://patheticaesthetic94.github.io/customer-portal/luminate/fonts/gilroy-semibold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("https://patheticaesthetic94.github.io/customer-portal/luminate/fonts/gilroy-bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
